<!DOCTYPE html>
<html>
<head>
	<title>survey results</title>
	<style type="text/css">
		#wrapper {
			width: 95%;
			margin: 0 auto;
		}
		.building {
			width: 20%;
			height: 200px;
			padding-top: 10px;
			border: 1px solid black;
			display: inline-block;
			text-align: center;
			margin-bottom: 20px;
		}
		.activities {
			width: 50%;
			height: 400px;
			border: 1px solid black;
			overflow: auto;
		}
		.activities h3{
			text-align: center;
		}
</style>
</head>
<body>
	<div id="wrapper">
		<h2>Ninja Goldfish</h2>
		<p>Your goldfish: <%= session[:gold] %></p>
		<% if session[:morality] >= 200 %>
			<p>Your morality: Saintly</p>
		<% elsif session[:morality] >= 100 %>
			<p>Your morality: Nice guy</p>
		<% elsif session[:morality] >= 0 %>
			<p>Your morality: Loose morals</p>
		<% elsif session[:morality] >= -100 %>
			<p>Your morality: Bad dude</p>
		<% elsif session[:morality] < -100 %>
			<p>Your morality: Worse than Hitler</p>
		<% end %>

		<div class="building">
			<h4>The Farm</h4>
			<p>Earn 1-3 goldfish</p>
			<form action='/rpg/farm' method='post'>
			  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			  <input type='submit' value='Toil'>
			</form>
		</div>

		<div class="building">
			<h4>The Mine</h4>
			<p>Earn 5-10 goldfish</p>
			<form action='/rpg/mine' method='post'>
			  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			  <input type='submit' value='Mine Ore'>
			</form>
		</div>

		<div class="building">
			<h4>The House</h4>
			<p>Steal 50-100 goldfish</p>
			<form action='/rpg/house' method='post'>
			  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			  <input type='submit' value='Theft'>
			</form>
		</div>

		<div class="building">
			<h4>The Casino</h4>
			<p>Bet all your goldfish on 'black'</p>
			<form action='/rpg/casino' method='post'>
			  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			  <input type='submit' value='Roulette'>
			</form>
		</div>

		<div class="activities">
		<h3>Your activities:</h3>
			<% session[:activities].each do |activity| %>
				<% if activity[4...8] == "lost" %>
					<p style="color:red"><%= activity%></p>
				<% else %>
					<p style="color:green"><%= activity%></p>
				<% end %>
			<% end %>
		</div>
		<br>
		<a href='/rpg/reset'>reset</a>
	</div>
</body>
</html>
